
<div class="container" id="learning_search">
    <button type="button" class="btn btn-info float-right">搜索</button>
    <input class="form-control col-3 float-right" type="search" placeholder="输入歌曲名称">
</div>

<nav class="pageScroll">
    <ul class="pagination justify-content-center">
        <li id="songPrevious" class="page-item">
            <a  class="page-link" href="#">上一页</a>
        </li>
        <li class="page-item active"><a id="pageText" class="page-link" href="#">1</a></li>

        <li id="songNext" class="page-item">
            <a  class="page-link" href="#">下一页</a>
        </li>
    </ul>
</nav>

<div id="learningSongCards">
{{#each songs}}
<div class="container songCard">
    <div class="row songRow">
        <div class="col-2 song_left">
            <img src="{{image}}" class="img-thumbnail song_img">
        </div>
        <div class="col-8 song_center">
           <div class="container">
               <span class="song_title">{{name}}</span>
               <span class="song_singer">{{singer}}</span>
               <p>
                   {{description}}
               </p>
           </div>
        </div>
        <div class="col-2 song_right">
            <div class="song_data">
                <a class="btn btn-light btn-block" role="button" href="#">学习</a>
                <p class="song_collect">收藏：20</p>
                <p class="song_works">作品：4</p>
            </div>
        </div>
    </div>
</div>
{{/each}}
</div>

