
<!--图片歌词控制区-->
<div id="playArea" class="container justify-content-center">
    <!--图片或视频-->
    <div id="music_media">
        <img src={{song.image}} class="img-fluid">
    </div>

    <audio id="playBar" src={{song.path}} controls="controls"></audio>

    <!--单句歌词-->
    <div id="lyricsPlaying" class="container justify-content-center">
        <p>挂（か）け替（が）えのない命（いのち）だと</p>
        <p>「无可取代的生命之类</p>
        <p>ka ke ga e no na i i no chi da to</p>
    </div>

    <hr>
    <!--播放控制按钮-->
    <div>
        <button type="button" class="btn btn-primary float-right">播放</button>
        <button type="button" class="btn btn-primary float-right">停止</button>
        <button type="button" class="btn btn-primary">收藏</button>
    </div>
    {{song.name}} <br>
    {{song.description}}
</div>

<hr>
<!--完整歌词-->
<div class="container">

    <div id="entire_lyrics">
        <p>
            <a id="entire_lyricsBtn" class="btn btn-info btn-block" data-toggle="collapse" href="#entireLyrics" role="button">
                完整歌词
            </a>
        </p>
        <div id="entireLyrics" class="collapse">
            <div id="dailySongLyric" class="card container ">
                挂（か）け替（が）えのない命（いのち）だと　<br>
                ka ke ga e no na i i no chi da to　<br>
                「无可取代的生命之类　<br>
                流行（はや）りの歌（うた）は言（い）うけれど　<br>
                ha ya ri no u ta wa i u ke re do　<br>
                流行歌曲中虽然提到过　<br>
                谁（だれ）かが仆（ぼく）と代（か）わってても<br>
                da re ka ga bo ku to ka wa tte te mo<br>
                但即使有谁来替代了我<br>
                谁（だれ）も困（こま）りはしない<br>
                da re mo ko ma ri wa shi na i<br>
                也不会有人感到困扰啊<br>
                変（か）わりばえのない日々（ひび）に<br>
                ka wa ri ba e no na i hi bi ni<br>
                没有起色的日子裏<br>
                借（か）り物（もの）の仆（ぼく）ら椅子（いす）を探（さが）してる<br>
                ka ri mo no no bo ku ra i su wo sa ga shi te ru<br>
                借物的我们寻找著椅子<br>
                何（なん）にもなれは しないまま<br>
                na n ni mo na re wa shi na i ma ma<br>
                最终仍是一事无成<br>
                心臓（しんぞう）は止（と）まってく<br>
                shi n zo u wa to ma tte ku<br>
                渐渐停下了心脏
            </div>
        </div>
    </div>
</div>

<hr>
<!--推荐歌曲作品-->
<!--<div class="container">-->
    <!--<div class="card-deck content_block">-->
        <!--<div class="card">-->
            <!--<img class="card-img-top" src="images/song1.png" alt="Card image cap">-->
            <!--<div class="card-body">-->
                <!--<h5 class="card-title text-center">歌曲名</h5>-->
                <!--<h5 class="card-title text-center">歌手</h5>-->
                <!--<p class="card-text">上传者的简单描述放在这儿aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>-->
                <!--<p class="card-text"><small class="text-muted">上传时间</small></p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<img class="card-img-top" src="images/song1.png" alt="Card image cap">-->
            <!--<div class="card-body">-->
                <!--<h5 class="card-title text-center">歌曲名</h5>-->
                <!--<h5 class="card-title text-center">歌手</h5>-->
                <!--<p class="card-text">上传者的简单描述放在这儿aaaaaaaaaaaaaaaaaaaaaaa</p>-->
                <!--<p class="card-text"><small class="text-muted">上传时间</small></p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<img class="card-img-top" src="images/song1.png" alt="Card image cap">-->
            <!--<div class="card-body">-->
                <!--<h5 class="card-title text-center">歌曲名</h5>-->
                <!--<h5 class="card-title text-center">歌手</h5>-->
                <!--<p class="card-text">上传者的简单描述放在这儿aaaaaaaaaaaaaaaaaaaaaaaaa</p>-->
                <!--<p class="card-text"><small class="text-muted">上传时间</small></p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<img class="card-img-top" src="images/song1.png" alt="Card image cap">-->
            <!--<div class="card-body">-->
                <!--<h5 class="card-title text-center">歌曲名</h5>-->
                <!--<h5 class="card-title text-center">歌手</h5>-->
                <!--<p class="card-text">上传者的简单描述放在这儿aaaaaaaaaaaaaaaaaaaaaaaa</p>-->
                <!--<p class="card-text"><small class="text-muted">上传时间</small></p>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->