*{
    margin: 0;
    padding: 0;
}
body{
    /*background-color: rgba(76, 231, 255, 0.34);*/
    background: url('../images/b50.jpg');
    background-size:cover;
    padding: 0;
    margin: 0;
}

.content_block{
    background-color: rgba(0, 255, 151, 0.46);
    margin: 2rem 0 2rem 0;
}


#dailySongBtn{
    margin-top: 2rem;
    margin-bottom: 0;
}
#dailySong{
    margin-bottom: 2rem;
    margin-top: 0;
}
#mainContainer{
    background-color: rgba(255, 255, 255,0.8);
}



