
#lyricsPlaying{
    color: white;
    /*margin: 1rem 0;*/
    background-color: rgba(0, 0, 0, 0.79);
    margin-top: 0;
}


#lyricsPlaying p{
    text-align: center;
    font-size: 1.3rem;
}

#playArea{
    margin-top: 1rem;
}
#music_media img{
    /*width: 80%;*/
}
#playBar{
    width: 100%;
    margin-bottom: 0;
}